/* This is the Header section */
.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;

  height: auto;
  width: 100%;
}

.header li{
  list-style: none;
  display : inline-block;
  text-decoration: underline;
}

.headingleft {
  display:inline-flex;
  justify-content: flex-start;
  margin-left: 50px;
  align-items: center;
  width: 600px;
}

.logo p{
  color: MediumAquamarine;
}

.headingright {
  justify-content: flex-end;
  margin-right: 50px;
  align-items: center;
  width: 800px;
}

.header span {

}
